ansible/roles/n8n/templates/copilot_still_thinking_workflow.json.j2
{
  "name": "Copilot Still Thinking",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger-1",
      "name": "Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "command": "ssh mgmt 'ps aux | grep \"cd /home/jimmy/homelab && {{ n8n_copilot_path }}\" | grep -v grep || true'"
      },
      "id": "exec-ps-1",
      "name": "Check Running Copilot",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://discord.com/api/v10/guilds/{{ n8n_discord_server_id }}/threads/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bot {{ n8n_discord_bot_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-threads-1",
      "name": "Get Active Threads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const psOutput = $('Check Running Copilot').first().json.stdout || '';\nconst threads = $('Get Active Threads').first().json.threads || [];\nconst botChannels = ['{{ n8n_discord_alerts_channel_id }}', '{{ n8n_discord_plex_channel_id }}'];\n\n// Extract session IDs from --resume=<ID>\nconst lines = psOutput.split('\\n').filter(l => l.trim());\nconst sessionIds = [];\nfor (const line of lines) {\n  const match = line.match(/--resume=([\\w-]+)/);\n  if (match) {\n    sessionIds.push(match[1]);\n  }\n}\n\nif (sessionIds.length === 0) {\n  return [];\n}\n\n// Match session IDs to Discord threads by name\nconst results = [];\nfor (const sid of sessionIds) {\n  const thread = threads.find(t => t.name === sid && botChannels.includes(t.parent_id));\n  if (thread) {\n    results.push({ json: { sessionId: sid, threadId: thread.id } });\n  }\n}\n\nreturn results;"
      },
      "id": "match-sessions-1",
      "name": "Match Sessions to Threads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ '{{' }} $json.threadId {{ '}}' }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bot {{ n8n_discord_bot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ '{{' }} JSON.stringify({content: \"Still thinking... \\ud83e\\udd14\"}) {{ '}}' }}",
        "options": {}
      },
      "id": "send-thinking-1",
      "name": "Send Still Thinking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 300]
    }
  ],
  "connections": {
    "Every Minute": {
      "main": [[{"node": "Check Running Copilot", "type": "main", "index": 0}]]
    },
    "Check Running Copilot": {
      "main": [[{"node": "Get Active Threads", "type": "main", "index": 0}]]
    },
    "Get Active Threads": {
      "main": [[{"node": "Match Sessions to Threads", "type": "main", "index": 0}]]
    },
    "Match Sessions to Threads": {
      "main": [[{"node": "Send Still Thinking", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
