ansible/roles/n8n/templates/discord_plexibot_workflow.json.j2
{
  "name": "Discord Plexibot",
  "nodes": [
    {
      "parameters": {
        "type": "message",
        "pattern": "every"
      },
      "id": "discord-trigger-plexibot",
      "name": "Discord Trigger",
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "credentials": {
        "discordBotTriggerApi": {
          "id": "{{ plexibot_discord_trigger_credential_id }}",
          "name": "Plexibot Discord Bot Trigger"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "filter-not-bot-plexibot",
              "leftValue": "={{ '{{' }} $json.authorIsBot {{ '}}' }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-bots-plexibot",
      "name": "Filter Bots",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "const content = $('Filter Bots').item.json.content || '';\nconst channelId = $('Filter Bots').item.json.channelId;\nconst mainChannels = ['{{ n8n_discord_plex_channel_id }}'];\nconst botId = '{{ n8n_plexibot_discord_client_id }}';\nconst otherBotId = '{{ n8n_discord_client_id }}';\n\n// Thread replies: allow unless @mentioning the other bot (let VirtuaJimmy handle those)\nif (!mainChannels.includes(channelId)) {\n  if (content.includes('<@' + otherBotId + '>')) return [];\n  return [$input.first()];\n}\n\n// New messages in main channel: require @mention\nif (content.includes('<@' + botId + '>')) {\n  return [$input.first()];\n}\n\nreturn [];"
      },
      "id": "check-mention-plexibot",
      "name": "Check Mention or Thread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-plex-channel",
              "leftValue": "={{ '{{' }} $('Filter Bots').item.json.channelId {{ '}}' }}",
              "rightValue": "{{ n8n_discord_plex_channel_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-new-thread-plexibot",
      "name": "Check If New Thread",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "mode": "id",
          "value": "{{ n8n_discord_server_id }}"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ '{{' }} $('Filter Bots').item.json.channelId {{ '}}' }}"
        },
        "messageId": "={{ '{{' }} $('Filter Bots').item.json.id {{ '}}' }}",
        "emoji": "👀"
      },
      "id": "react-eyes-new-plexibot",
      "name": "React Eyes New",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1340, 0],
      "credentials": {
        "discordBotApi": {
          "id": "{{ plexibot_discord_credential_id }}",
          "name": "Plexibot Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "react",
        "guildId": {
          "__rl": true,
          "mode": "id",
          "value": "{{ n8n_discord_server_id }}"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ '{{' }} $('Filter Bots').item.json.channelId {{ '}}' }}"
        },
        "messageId": "={{ '{{' }} $('Filter Bots').item.json.id {{ '}}' }}",
        "emoji": "👀"
      },
      "id": "react-eyes-resume-plexibot",
      "name": "React Eyes Resume",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1820, 400],
      "credentials": {
        "discordBotApi": {
          "id": "{{ plexibot_discord_credential_id }}",
          "name": "Plexibot Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $('Filter Bots').item.json.content || '';\nconst prompt = content + '\\n\\n[Your reply will be posted to Discord. Use the chat-room-communication skill for formatting.]';\nconst safeContent = Buffer.from(prompt).toString('base64');\nreturn [{ json: { safeContent } }];"
      },
      "id": "prepare-new-prompt-plexibot",
      "name": "Prepare New Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "command": "=ssh mgmt 'export PATH=$HOME/.local/bin:$PATH && cd /home/jimmy/homelab && {{ n8n_copilot_path }} --agent plexibot --resume=$(uuidgen) -p \"$(echo {{ '{{' }} $json.safeContent {{ '}}' }} | base64 -d)\" --output-format json --allow-all-tools --no-ask-user --model claude-opus-4.7 2>/dev/null'"
      },
      "id": "exec-copilot-new-plexibot",
      "name": "Run Copilot New",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1580, 100]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.split('\\n').filter(l => l.trim());\nlet responseText = '';\nlet lastBlock = '';\nlet sessionId = '';\n\nfor (const line of lines) {\n  try {\n    const obj = JSON.parse(line);\n    if (obj.type === 'assistant.message' && obj.data && obj.data.content) {\n      responseText += obj.data.content;\n    } else if (obj.type === 'result' && obj.sessionId) {\n      sessionId = obj.sessionId;\n    } else if (responseText) {\n      lastBlock = responseText;\n      responseText = '';\n    }\n  } catch (e) {}\n}\nresponseText = responseText || lastBlock;\n\nif (responseText.length > 1900) {\n  responseText = responseText.substring(0, 1900) + '...';\n}\nif (!responseText) responseText = '(no response)';\n\nreturn [{ json: { responseText, sessionId } }];"
      },
      "id": "parse-new-output-plexibot",
      "name": "Parse New Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ '{{' }} $('Filter Bots').item.json.channelId {{ '}}' }}/messages/{{ '{{' }} $('Filter Bots').item.json.id {{ '}}' }}/threads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bot {{ n8n_plexibot_discord_bot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ '{{' }} JSON.stringify({name: 'plexibot-' + $json.sessionId, auto_archive_duration: 1440}) {{ '}}' }}",
        "options": {}
      },
      "id": "create-thread-plexibot",
      "name": "Create Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2060, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ '{{' }} $json.id {{ '}}' }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bot {{ n8n_plexibot_discord_bot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ '{{' }} JSON.stringify({content: $('Parse New Output').item.json.responseText}) {{ '}}' }}",
        "options": {}
      },
      "id": "send-new-reply-plexibot",
      "name": "Send New Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2300, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://discord.com/api/v10/channels/{{ '{{' }} $('Filter Bots').item.json.channelId {{ '}}' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bot {{ n8n_plexibot_discord_bot_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-thread-info-plexibot",
      "name": "Get Thread Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validate-parent-plex",
              "leftValue": "={{ '{{' }} $json.parent_id {{ '}}' }}",
              "rightValue": "{{ n8n_discord_plex_channel_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "validate-prefix-plexibot",
              "leftValue": "={{ '{{' }} $json.name {{ '}}' }}",
              "rightValue": "plexibot-",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-thread-plexibot",
      "name": "Validate Thread",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1580, 500]
    },
    {
      "parameters": {
        "jsCode": "const content = $('Filter Bots').item.json.content || '';\nconst prompt = content + '\\n\\n[Your reply will be posted to Discord. Use the chat-room-communication skill for formatting.]';\nconst safeContent = Buffer.from(prompt).toString('base64');\nconst name = $('Get Thread Info').item.json.name.replace(/^plexibot-/, '');\nreturn [{ json: { safeContent, name } }];"
      },
      "id": "prepare-resume-prompt-plexibot",
      "name": "Prepare Resume Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 500]
    },
    {
      "parameters": {
        "command": "=ssh mgmt 'export PATH=$HOME/.local/bin:$PATH && cd /home/jimmy/homelab && {{ n8n_copilot_path }} --agent plexibot --resume={{ '{{' }} $json.name {{ '}}' }} -p \"$(echo {{ '{{' }} $json.safeContent {{ '}}' }} | base64 -d)\" --output-format json --allow-all-tools --no-ask-user --model claude-opus-4.7 2>/dev/null'"
      },
      "id": "exec-copilot-resume-plexibot",
      "name": "Run Copilot Resume",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2060, 500]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.split('\\n').filter(l => l.trim());\nlet responseText = '';\nlet lastBlock = '';\nlet sessionId = '';\n\nfor (const line of lines) {\n  try {\n    const obj = JSON.parse(line);\n    if (obj.type === 'assistant.message' && obj.data && obj.data.content) {\n      responseText += obj.data.content;\n    } else if (obj.type === 'result' && obj.sessionId) {\n      sessionId = obj.sessionId;\n    } else if (responseText) {\n      lastBlock = responseText;\n      responseText = '';\n    }\n  } catch (e) {}\n}\nresponseText = responseText || lastBlock;\n\nif (responseText.length > 1900) {\n  responseText = responseText.substring(0, 1900) + '...';\n}\nif (!responseText) responseText = '(no response)';\n\nreturn [{ json: { responseText, sessionId } }];"
      },
      "id": "parse-resume-output-plexibot",
      "name": "Parse Resume Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ '{{' }} $('Filter Bots').item.json.channelId {{ '}}' }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bot {{ n8n_plexibot_discord_bot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ '{{' }} JSON.stringify({content: $json.responseText}) {{ '}}' }}",
        "options": {}
      },
      "id": "send-resume-reply-plexibot",
      "name": "Send Resume Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2540, 500]
    }
  ],
  "connections": {
    "Discord Trigger": {
      "main": [[{"node": "Filter Bots", "type": "main", "index": 0}]]
    },
    "Filter Bots": {
      "main": [[{"node": "Check Mention or Thread", "type": "main", "index": 0}]]
    },
    "Check Mention or Thread": {
      "main": [[{"node": "Check If New Thread", "type": "main", "index": 0}]]
    },
    "Check If New Thread": {
      "main": [
        [{"node": "React Eyes New", "type": "main", "index": 0}],
        [{"node": "Get Thread Info", "type": "main", "index": 0}]
      ]
    },
    "React Eyes New": {
      "main": [[{"node": "Prepare New Prompt", "type": "main", "index": 0}]]
    },
    "Prepare New Prompt": {
      "main": [[{"node": "Run Copilot New", "type": "main", "index": 0}]]
    },
    "Run Copilot New": {
      "main": [[{"node": "Parse New Output", "type": "main", "index": 0}]]
    },
    "Parse New Output": {
      "main": [[{"node": "Create Thread", "type": "main", "index": 0}]]
    },
    "Create Thread": {
      "main": [[{"node": "Send New Reply", "type": "main", "index": 0}]]
    },
    "Get Thread Info": {
      "main": [[{"node": "Validate Thread", "type": "main", "index": 0}]]
    },
    "Validate Thread": {
      "main": [[{"node": "React Eyes Resume", "type": "main", "index": 0}]]
    },
    "React Eyes Resume": {
      "main": [[{"node": "Prepare Resume Prompt", "type": "main", "index": 0}]]
    },
    "Prepare Resume Prompt": {
      "main": [[{"node": "Run Copilot Resume", "type": "main", "index": 0}]]
    },
    "Run Copilot Resume": {
      "main": [[{"node": "Parse Resume Output", "type": "main", "index": 0}]]
    },
    "Parse Resume Output": {
      "main": [[{"node": "Send Resume Reply", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
