ansible/roles/n8n/templates/log_monitor_workflow.json.j2
{
  "name": "Log Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "schedule-daily-1",
      "name": "Daily 6pm Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const prompt = [\n  'Perform a scheduled Loki sweep across all hosts for the last 26 hours and write the outcome to a markdown report on disk.',\n  '',\n  'YOU MUST use the `loki-scheduled-sweep` skill for this task. Read it first and follow its methodology, report format, and ignore list exactly. Findings consisting entirely of patterns on the ignore list must NOT be included in the report.',\n  '',\n  'INSTRUCTIONS:',\n  '1. Read the `loki-scheduled-sweep` skill before querying anything.',\n  '2. Query Loki for logs across all hosts from the last 26 hours.',\n  '3. Apply the skill ignore list before counting or reporting findings.',\n  '4. For each remaining finding, investigate the root cause and either describe a concrete fix (config edit, role update, restart, etc.) or recommend adding the pattern to the ignore list. Do NOT recommend Grafana alert rules.',\n  '5. Write the report to `log-sweeps/YYYY-MM-DD-HHMM.md` (local time the sweep started) using the file structure defined in the skill. Create the `log-sweeps/` folder if it does not exist. One file per run, do not overwrite previous reports.',\n  '6. If nothing remains after filtering, still write the report file containing the single line: `No findings after applying the ignore list.`',\n  '7. After writing the file, reply with ONLY the report file path (e.g. `log-sweeps/2026-04-29-1800.md`) and nothing else. No prose, no markdown, no commentary.'\n].join('\\n');\n\nconst safeContent = Buffer.from(prompt).toString('base64');\nreturn [{ json: { safeContent } }];"
      },
      "id": "prepare-prompt-1",
      "name": "Prepare Copilot Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "command": "=ssh mgmt 'export PATH=$HOME/.local/bin:$PATH && cd /home/jimmy/homelab && {{ n8n_copilot_path }} --agent virtuajimmy --resume=$(uuidgen) -p \"$(echo {{ '{{' }} $json.safeContent {{ '}}' }} | base64 -d)\" --output-format json --allow-all-tools --no-ask-user --model claude-opus-4.7 2>/dev/null | grep -e assistant.message -e sessionId'"
      },
      "id": "exec-copilot-1",
      "name": "Run Copilot",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.split('\\n').filter(l => l.trim());\nlet responseText = '';\nlet lastBlock = '';\nlet sessionId = '';\n\nfor (const line of lines) {\n  try {\n    const obj = JSON.parse(line);\n    if (obj.type === 'assistant.message' && obj.data && obj.data.content) {\n      responseText += obj.data.content;\n    } else if (obj.type === 'result' && obj.sessionId) {\n      sessionId = obj.sessionId;\n    } else if (responseText) {\n      lastBlock = responseText;\n      responseText = '';\n    }\n  } catch (e) {}\n}\nresponseText = (responseText || lastBlock).trim();\n\nconst pathMatch = responseText.match(/log-sweeps\\/[^\\s`'\\\"]+\\.md/);\nconst reportPath = pathMatch ? pathMatch[0] : '';\nconst hasReport = reportPath.length > 0;\n\nlet discordMessage;\nif (hasReport) {\n  discordMessage = `<@313605750112911360> daily Loki sweep is done, report ready to view at \\`${reportPath}\\` on the mgmt host.`;\n} else {\n  discordMessage = `<@313605750112911360> daily Loki sweep ran but no report path was returned. Raw output:\\n\\`\\`\\`\\n${responseText.substring(0, 1500)}\\n\\`\\`\\``;\n}\n\nif (!sessionId) sessionId = require('crypto').randomUUID();\n\nreturn [{ json: { responseText, reportPath, hasReport, discordMessage, sessionId } }];"
      },
      "id": "parse-output-1",
      "name": "Parse Copilot Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-report",
              "leftValue": "={{ '{{' }} $json.hasReport {{ '}}' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-issues-1",
      "name": "Report Written?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/v10/channels/{{ n8n_discord_alerts_channel_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bot {{ n8n_discord_bot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ '{{' }} JSON.stringify({content: $json.discordMessage, allowed_mentions: {parse: ['users']}}) {{ '}}' }}",
        "options": {}
      },
      "id": "post-discord-1",
      "name": "Notify Report Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 200]
    }
  ],
  "connections": {
    "Daily 6pm Trigger": {
      "main": [[{"node": "Prepare Copilot Prompt", "type": "main", "index": 0}]]
    },
    "Prepare Copilot Prompt": {
      "main": [[{"node": "Run Copilot", "type": "main", "index": 0}]]
    },
    "Run Copilot": {
      "main": [[{"node": "Parse Copilot Output", "type": "main", "index": 0}]]
    },
    "Parse Copilot Output": {
      "main": [[{"node": "Report Written?", "type": "main", "index": 0}]]
    },
    "Report Written?": {
      "main": [
        [{"node": "Notify Report Ready", "type": "main", "index": 0}],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}